attrs==19.3.0
backcall==0.1.0
bleach==3.1.5
certifi==2019.9.11
click==7.1.2
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
future==0.18.2
importlib-metadata==1.6.0
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter-core==4.6.3
livereload==2.6.1
lunr==0.5.8
Markdown==3.2.1
MarkupSafe==1.1.1
mistune==0.8.4
mkdocs==1.1.2
mkdocs-jupyter==0.11.0
mkdocs-material==4.6.3
nbconvert==5.6.1
nbformat==5.0.6
nltk==3.5
packaging==20.4
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
Pygments==2.6.1
pymdown-extensions==6.3
pyparsing==2.4.7
pyrsistent==0.16.0
PyYAML==5.3.1
regex==2020.4.4
six==1.14.0
testpath==0.4.4
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
wcwidth==0.1.9
webencodings==0.5.1
zipp==3.1.0
