# Alert file in XML format

broker amqps://anonymous:anonymous@dd.weather.gc.ca/                                                                                               
queue_name q_${BROKER_USER}.${PROGRAM}.${CONFIG}.${HOSTNAME}                                                                                       
# warnings are usually very low volume. but if you see lag, increase.

#expire, in operations should be longer than longest expected interruption
#    suggest: 1d (1 day.)

subtopic alerts.cap.#

mirror

directory ${HOME}/test/amqp

accept .*
