body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    "Helvetica Neue",Helvetica,Arial,sans-serif;
}